

@import url('https://fonts.googleapis.com/css?family=Open+Sans');





  /* Header */



.header {

  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 80px 100px 0px;

}



.wrapper {
  width: 100%;
  position: relative;
  margin: 30px 0;
}


.name {
    display: flex;

    font-family:  -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    color: #333333;
}

.clock {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

   font-family:  -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #333333;
}




  /* Introduction paragraph */



.intro {

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 500px 80px 500px;

}


.Name {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #333333;
}



.subtitle {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #666666;
}

.copy {
  font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
  }





/* Portfolio */



.portfolio {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 100px 100px 100px;


}




.Card {
    
    width: 450px;
    cursor: url("Hover.cur"),pointer; 

    .leftcopy: hover: text-decoration: underline;
    
    }


    .Card:hover .leftcopy {
      color: #FF4F00;
    }




.imagecontainer {
  padding-top: 40px;
  padding-bottom: 20px;

}

img {
   border: 2px solid #E5E5E5;
  border-radius: 12px;
  width: 450px;
}



.titledate {
display: flex;
width: 100%;
padding-bottom: 24px;
}


.leftcopy {
    text-align: left;
}




.rightcopy {
    text-align: right;
}


.leftcopy, .rightcopy {
    display: inline-block;
    width: 50%;
}


.stack {

  display: flex;
flex-direction: row;
align-items: flex-start;
column-gap: 80px;
}








  




  /* Thank you for reading section */


.bye {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 700px 120px 100px;

}

.thank-you {
    font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    padding-bottom: 16px;
}








  /* Footer */


.Footer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 100px;
background: #F5F5F5;

}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.left, .right {
    display: inline-block;
    width: 50%;
}

.firstline {
display: flex;
width: 100%;

margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.social {
 font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    
}

.right {
  cursor: url("Hover.cur"),pointer; 

}


.social a {
  color: #333333;
    text-decoration: none;

}

.social a:hover {
  cursor: url("Hover.cur"),pointer; 
  color:  #2D64BC;
}

.version {
  float: left;
  color: #333333;


}

a:link {
  color:  #333333;
}


.Footnote {

    float: left;
  color: #666666;

   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}




@media all and (min-width: 1366px) and (max-width: 1600px) {



  /* Header */



.header {

  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 80px 100px 0px;

}



.wrapper {
  width: 100%;
  position: relative;
  margin: 30px 0;
}


.name {
    display: flex;

    font-family:  -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    color: #333333;
}

.clock {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

   font-family:  -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #333333;
}




  /* Introduction paragraph */



.intro {

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 400px 80px 400px;

}


.Name {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #333333;
}



.subtitle {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #666666;
}

.copy {
  font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
  }





/* Portfolio */



.portfolio {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 100px 100px 100px;


}




.Card {
    
    width: 350px;
    cursor: url("Hover.cur"),pointer; 

    .leftcopy: hover: text-decoration: underline;
    
    }


.leftcopy:hover {
  text-decoration: underline;
  color: #FF4F00;
}


.imagecontainer {
  padding-top: 40px;
  padding-bottom: 20px;

}

img {
   border: 2px solid #E5E5E5;
  border-radius: 12px;
  width: 350px;
}



.titledate {
display: flex;
width: 100%;
padding-bottom: 24px;
}


.leftcopy {
    text-align: left;
}




.rightcopy {
    text-align: right;
}


.leftcopy, .rightcopy {
    display: inline-block;
    width: 50%;
}


.stack {

  display: flex;
flex-direction: row;
align-items: flex-start;
column-gap: 80px;
}








  




  /* Thank you for reading section */


.bye {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 700px 120px 100px;

}

.thank-you {
    font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    padding-bottom: 16px;
}








  /* Footer */


.Footer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 100px;
background: #F5F5F5;

}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.left, .right {
    display: inline-block;
    width: 50%;
}

.firstline {
display: flex;
width: 100%;

margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.social {
 font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    
}


.social a {
  color: #333333;
    text-decoration: none;

}

.social a:hover {
  color:  #2D64BC;
}

.version {
  float: left;
  color: #333333;


}

a:link {
  color:  #333333;
}


.Footnote {

    float: left;
  color: #666666;

   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}








}



@media all and (min-width: 1113px) and (max-width: 1366px) {


   /* Introduction paragraph */



.intro {

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 300px 80px 300px;

}


.Name {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #333333;
}



.subtitle {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #666666;
}

.copy {
  font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
  }





/* Portfolio */



.portfolio {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 80px 100px 80px;


}




.Card {
    
    width: 300px;
    cursor: url("Hover.cur"),pointer; 

    .leftcopy: hover: text-decoration: underline;
    
    }


.leftcopy:hover {
  text-decoration: underline;
  color: #FF4F00;
}


.imagecontainer {
  padding-top: 40px;
  padding-bottom: 20px;

}

img {
   border: 2px solid #E5E5E5;
  border-radius: 12px;
  width: 300px;
}



.titledate {
display: flex;
width: 100%;
padding-bottom: 24px;
}


.leftcopy {
    text-align: left;
}




.rightcopy {
    text-align: right;
}


.leftcopy, .rightcopy {
    display: inline-block;
    width: 50%;
}


.stack {

  display: flex;
flex-direction: row;
align-items: flex-start;
column-gap: 80px;
}





  /* Thank you for reading section */


.bye {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 80px 120px 80px;

}

.thank-you {
    font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    padding-bottom: 16px;
}


  /* Footer */


.Footer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 80px;
background: #F5F5F5;

}


.firstline {
width: 100%;
}

.secondline {
width: 100%;
}

.2line {
width: 100%;
}


}











@media all and (min-width: 845px) and (max-width: 1112px) {


   /* Introduction paragraph */



.intro {

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 200px 80px 200px;

}


.Name {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #333333;
}



.subtitle {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #666666;
}

.copy {
  font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
  }





/* Portfolio */



.portfolio {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 40px 100px 40px;


}




.Card {
    
    width: 100%;
    cursor: url("Hover.cur"),pointer; 

    .leftcopy: hover: text-decoration: underline;
    
    }


.leftcopy:hover {
  text-decoration: underline;
  color: #FF4F00;
}


.imagecontainer {
  padding-top: 40px;
  padding-bottom: 20px;

}

img {
   border: 2px solid #E5E5E5;
  border-radius: 12px;
  width: 100%;
}



.titledate {
display: flex;
width: 100%;
padding-bottom: 24px;
}


.leftcopy {
    text-align: left;
}




.rightcopy {
    text-align: right;
}


.leftcopy, .rightcopy {
    display: inline-block;
    width: 50%;
}


.stack {

  display: flex;
flex-direction: column;
align-items: flex-start;
column-gap: 80px;
}





  /* Thank you for reading section */


.bye {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 40px 120px 40px;

}

.thank-you {
    font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    padding-bottom: 16px;
}


  /* Footer */


.Footer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 40px;
background: #F5F5F5;

}


.firstline {
width: 100%;
}

.secondline {
width: 100%;
}

.2line {
width: 100%;
}


}















@media all and (min-width: 370px) and (max-width: 844px) {


   /* Introduction paragraph */



.intro {

  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 20px 80px 20px;

}


.Name {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #333333;
}



.subtitle {
   font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #666666;
}

.copy {
  font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
  }





/* Portfolio */



.portfolio {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 100px 20px 100px 20px;


}




.Card {
    
    width: 100%;
    cursor: url("Hover.cur"),pointer; 

    .leftcopy: hover: text-decoration: underline;
    
    }


.leftcopy:hover {
  text-decoration: underline;
  color: #FF4F00;
}


.imagecontainer {
  padding-top: 40px;
  padding-bottom: 20px;

}

img {
   border: 2px solid #E5E5E5;
  border-radius: 12px;
  width: 100%;
}



.titledate {
display: flex;
width: 100%;
padding-bottom: 24px;
}


.leftcopy {
    text-align: left;
}




.rightcopy {
    text-align: right;
}


.leftcopy, .rightcopy {
    display: inline-block;
    width: 50%;
}


.stack {

  display: flex;
flex-direction: column;
align-items: flex-start;
column-gap: 80px;
}





  /* Thank you for reading section */


.bye {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 20px 120px 20px;

}

.thank-you {
    font-family: -apple-system, Open Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    padding-bottom: 16px;
}


  /* Footer */


.Footer {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 20px;
background: #F5F5F5;

}



}

